{% comment %} ##########################Below footer I add it new BEDO######################################## {% endcomment %}
<div class="footer">

    <footer class="footer-wrapper---brix">  <!-- data-w-id="2ee9497c-58ac-fa6c-311a-49a3f6db3bbe" --> 
      <div class="container-default w-container">
        <div class="footer-top">
          <div class="w-layout-grid grid-footer-v1---5-column">
            <div id="w-node-_2ee9497c-58ac-fa6c-311a-49a3f6db3bc2-dcc6da57">
              <a href="https://accuselect.nl" class="footer-logo-wrapper w-inline-block"><img src="https://accuselect.nl/images/logo-orange.png" sizes="(max-width: 479px) 100vw, 205px" width="205" srcset="https://accuselect.nl/images/logo-orange-p-500.png 500w, https://accuselect.nl/images/logo-orange-p-800.png 800w, https://accuselect.nl/images/logo-orange-p-1080.png 1080w, https://accuselect.nl/images/logo-orange-p-1600.png 1600w, https://accuselect.nl/images/logo-orange-p-2000.png 2000w, https://accuselect.nl/images/logo-orange.png 3046w" alt="Accuselect logo, besparen met een thuisbatterij" class="footer-logo---brix"></a>
              <p class="mg-bottom-40px">Gemakkelijk besparen met een thuisbatterij. Het kan nu.</p>
              <div class="w-layout-grid social-media-grid-top" style="filter: invert(26%) sepia(92%) saturate(2301%) hue-rotate(231deg) brightness(100%) contrast(93%)">
                <a href="https://facebook.com/accuselect/" class="social-icon-link---brix w-inline-block"><img src="https://accuselect.nl/images/placeholder-logo-social-media-facebook.svg" loading="eager" alt="" class="social-icon---brix"></a>
                <a href="https://twitter.com/accuselect/" class="social-icon-link---brix w-inline-block"><img src="https://accuselect.nl/images/placeholder-logo-social-media-twitter.svg" loading="eager" alt="" class="social-icon---brix"></a>
                <a href="https://www.instagram.com/accuselect/" class="social-icon-link---brix w-inline-block"><img src="https://accuselect.nl/images/placeholder-logo-social-media-instagram.svg" loading="eager" alt="" class="social-icon---brix"></a>
                <a href="https://www.linkedin.com/company/accuselect/" class="social-icon-link---brix w-inline-block"><img src="https://accuselect.nl/images/placeholder-logo-social-media-linkedin.svg" loading="eager" alt="" class="social-icon---brix"></a>
              </div>
            </div>
            <div>
              <a href="https://accuselect.nl/thuisaccu/" style="text-decoration: none;"><div class="text-300 bold footer-title">Thuisbatterij</div></a>
              <ul role="list" class="footer-list-wrapper">
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/thuisbatterij/hoe-werkt-het/" class="footer-link-2">Hoe werkt het</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/thuisbatterij/waarom/" class="footer-link-2">Waarom</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/thuisbatterij/off-grid/" class="footer-link-2">Off-grid</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/thuisbatterij/slimme-aansturing/" class="footer-link-2">Slimme aansturing</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/kopen/thuisbatterij-samenstellen/" class="footer-link-2">Zelf samenstellen</a>
                </li>
              </ul>
            </div>
            <div>
              <div class="text-300 bold footer-title">Kennisbank</div>
              <ul role="list" class="footer-list-wrapper">
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/besparen/" class="footer-link-2">Besparen</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/verduurzamen/" class="footer-link-2">Duurzaamheid</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/thuisbatterij/zonnepanelen/" class="footer-link-2">Zonne-energie</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/installatie/" class="footer-link-2">Installatie</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/#start" class="footer-link-2">Gratis advies</a>
                </li>
              </ul>
            </div>
            <div>
              <div class="text-300 bold footer-title">Accuselect</div>
              <ul role="list" class="footer-list-wrapper">
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/over-ons/" class="footer-link-2">Over ons</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/faq/" class="footer-link-2">FAQ</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/begrippenlijst/" class="footer-link-2">Begrippenlijst</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/werken-bij/" class="footer-link-2">Vacatures</a>
                </li>
                <li class="footer-list-item">
                  <a href="https://accuselect.nl/contact/" class="footer-link-2">Contact</a>
                </li>
              </ul>
            </div>
            <div>
              <div class="text-300 bold footer-title">Contact</div>
              <ul role="list" class="footer-list-wrapper">
                <li class="footer-list-item">
                  <div class="link-wrapper color-grey w-inline-block"><img src="https://accuselect.nl/images/placeholder-icon-contact-mail.svg" loading="eager" alt="" class="icon-left---brix">
                    
                    
                    <span id="obf" style="text-decoration: none !important;">
                    <script>
                      document.getElementById("obf").innerHTML = "<n uers=\"znvygb:vasb@npphfryrpg.ay\" fglyr=\"grkg-qrpbengvba: abar !vzcbegnag;\">vasb@npphfryrpg.ay</n>".replace(/[a-zA-Z]/g, function(c) {
                        return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
                      });
                    </script>
                    <noscript>
                      <span style="unicode-bidi:bidi-override;direction:rtl;text-decoration: none !important;" class="link-text">ln.tcelesucca@ofni</span>
                    </noscript>
                  </span>


                  </div>
                </li>
                <li class="footer-list-item">
                  <div class="link-wrapper color-grey w-inline-block"><img src="https://accuselect.nl/images/placeholder-icon-contact-phone.svg" loading="eager" alt="" class="icon-left---brix">
                    <a href="tel:+31851091266" style="text-decoration: none;" class="link-text">085 109 12 66</a>
                  </div>
                </li>
                <li class="footer-list-item">
                  <div class="icon-pagraph-wrapper"><img src="https://accuselect.nl/images/placeholder-icon-contact-address.svg" loading="eager" alt="" class="icon-left---brix address">
                    <p style="color: #7e828f">Jodenbreestraat 25<br>1011 NH Amsterdam</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="w-layout-grid grid-footer-v1---2-columns grid-center bottom">
            <div id="w-node-_2ee9497c-58ac-fa6c-311a-49a3f6db3c22-dcc6da57">
              <p class="mg-bottom-0">Accuselect B.V. | KVK: 87814048 | BTW: NL864414298B01</p>
            </div>
            <div id="w-node-_2ee9497c-58ac-fa6c-311a-49a3f6db3c29-dcc6da57">
              <div class="horizontal-flex end tablet-start">
                <p class="mg-bottom-0">Copyright © 2024 | <a href="https://accuselect.nl/documents/algemene_voorwaarden/">Algemene voorwaarden</a> | <a href="https://accuselect.nl/privacy">Privacy Policy</a> | <a href="#" data-cc="c-settings">Cookie instellingen</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

{% comment %} ###################### below is the black footer i found it here BEDO ############################## {% endcomment %}
{% assign column_number = 0 %}

{% comment %}
   Determine whether there are social links
{% endcomment %}

{% assign footer_social_enable = false %}
        {% if
          settings.social_twitter_link != blank
          or settings.social_facebook_link != blank
          or settings.social_pinterest_link != blank
          or settings.social_google_plus_link != blank
          or settings.social_instagram_link != blank
          or settings.social_tumblr_link != blank
          or settings.social_youtube_link != blank
          or settings.social_vimeo_link != blank
          or settings.social_fancy_link != blank
          or settings.social_snapchat_link != blank
        %}
  {% assign footer_social_enable = true %}
{% endif %}

{% case section.blocks.size %}
  {% when 0 %}
	{% assign column_number = 0 %}
  {% when 1 %}
    {% assign column_number = column_number | plus: 1 %}
  {% when 2 %}
	{% assign column_number = column_number | plus: 2 %}
  {% when 3 %}
	{% assign column_number = column_number | plus: 3 %}
  {% when 4 %}
	{% assign column_number = column_number | plus: 4 %}
  {% when 5 %}
	{% assign column_number = column_number | plus: 5 %}
{% endcase %}

{% if section.blocks.size == 1 %}
  {% assign single_item = true %}
{% endif %}

<!-- site footer -->
<footer id="section-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">

  {% if section.blocks.size > 0 %}
    <div class="box site-footer">
      <div class="wrapper">
        <div class="grid grid-uniform grid--spacer main-footer">

          <!-- Blocks -->
          {% for block in section.blocks %}
              <div class="grid__item footer-item footer-{{ block.type }} {% if single_item %} footer-single-item{% endif %} {% if column_number < 3 %}inline-footer{% endif %}" {{ block.shopify_attributes }}>
                {% unless block.settings.title == blank or block.settings.image %}
                  <h4 class="site-footer__linktitle">{{ block.settings.title | escape }}</h4>
                {% endunless %}

                {% case block.type %}
                  {% when 'newsletter' %}
                    {% unless block.settings.subtitle == blank %}
                      <p>{{ block.settings.subtitle | escape }}</p>
                    {% endunless %}
                    {% include 'newsletter-form' %}
                  {% when 'text' %}
                    {% if block.settings.image != blank %}
                      {% assign image_size = block.settings.height_logo | prepend: 'x' %}
                      <a href="{{ routes.root_url }}" class="image-link">
                        <img class="logo"
                             src="{{ block.settings.image | img_url: image_size }}"
                             srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                             alt="{{ block.settings.image.alt | default: shop.name }}"
                             itemprop="logo">
                      </a>
                    {% endif %}
                    {% if block.settings.text != blank %}
                    <div class="site-footer__rte rte">
                      {{ block.settings.text }}
                    </div>
                    {% endif %}
                    {% if block.settings.email != blank or block.settings.phone != blank %}
                	<ul class="no-bullets site-footer__linklist ">
                      {% if block.settings.email != blank %}
                        <li>
                          <a href="mailto:{{ block.settings.email | escape }}">
                            <span class="fas fa-at fa-fw" aria-hidden="true"></span>
                            {{ block.settings.email }}
                          </a>
                        </li>
                      {% endif %}
                      {% if block.settings.phone != blank %}
                        <li>
                          <a href="tel:{{ block.settings.phone | remove: '-' | replace: ' ', '' }}">
                            <span class="fas fa-phone fa-fw" aria-hidden="true"></span>
                            {{ block.settings.phone }}
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                	{% endif %}
                  {% when 'link_list' %}
                    <ul class="no-bullets site-footer__linklist ">
                      {% for link in linklists[block.settings.footer_link_list].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% when 'social_medias' %}
                    {% if footer_social_enable %}
                      <ul class="no-bullets social-icons">
                        {% if settings.social_facebook_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                              <span class="fab fa-facebook-f fa-fw" aria-hidden="true"></span>
                              Facebook
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_twitter_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                              <span class="fab fa-twitter fa-fw" aria-hidden="true"></span>
                              Twitter
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_pinterest_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                              <span class="fab fa-pinterest-p fa-fw" aria-hidden="true"></span>
                              Pinterest
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_instagram_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                              <span class="fab fa-instagram fa-fw" aria-hidden="true"></span>
                              Instagram
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_snapchat_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                              <span class="fab fa-snapchat-ghost fa-fw" aria-hidden="true"></span>
                              Snapchat
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_google_plus_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                              <span class="fab fa-google-plus-g fa-fw" aria-hidden="true"></span>
                              Google Plus
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_tumblr_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                              <span class="fab fa-tumblr fa-fw" aria-hidden="true"></span>
                              Tumblr
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_youtube_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                              <span class="fab fa-youtube fa-fw" aria-hidden="true"></span>
                              YouTube
                            </a>
                          </li>
                        {% endif %}
                        {% if settings.social_vimeo_link != blank %}
                          <li>
                            <a class="" target="_blank" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                              <span class="fab fa-vimeo-v fa-fw" aria-hidden="true"></span>
                              Vimeo
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    {% endif %}

                {% endcase %}
              </div>
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
  
  <div class="bottom-footer small--text-center medium--text-center">
    <div class="wrapper">
      <div class="grid">
        
        <div class="grid__item large--one-half">
          {% if settings.position_currency_converter == "footer" %}{% include "currency-selector" %}{% endif %}
          <span class="credentials">
            <span>Copyright &copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: '/'  }}</span>
          </span>
        </div>
        
        <div class="grid__item large--one-half large--text-right">
          {% if section.settings.show_payment_icons %}
            {% include 'payment-icons' %}
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>

</footer>


{% schema %}
  {
    "name": "Footer",
	"class": "footer-section",
 	"max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "Payment methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      }
    ],
	"blocks" : [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick Links"
          },
          {
            "type": "link_list",
            "id": "footer_link_list",
            "label": "Menu",
            "default": "footer"
          }
        ]
      },
	  {
        "type": "text",
        "name": "Text/Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Logo"
          },
		  {
            "type": "range",
            "id": "height_logo",
            "label": "Logo height",
            "min": 20,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label":"Heading",
            "default": "About Us"
          },
          {
            "type": "text",
            "id": "email",
            "label":"Email address"
          },
          {
            "type": "text",
            "id": "phone",
            "label":"Phone number",
			"info": "123-456-7890"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default":"<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        ]
      },
      {
        "type": "social_medias",
        "name": "Social medias",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label":"Heading",
            "default": "Follow us"
          }
        ]
      },
	  {
        "type": "newsletter",
        "name": "Newsletter",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Subscribe to our newsletter"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subheading",
            "default": "A short sentence describing what someone will receive by subscribing"
          },
          {
            "type": "select",
            "id": "send_icon",
            "label": "Send icon",
            "default": "fa-envelope",
            "options": [
              {
                "value": "fa-arrow-right",
                "label": "Arrow"
              },
              {
                "value": "fa-envelope",
                "label": "Envelope"
              }
            ]
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
          }
        ]
      }
    ]
  }
{% endschema %}

